dist: trusty
sudo: required
language: php

php:
  - '7.0'

services:
  - postgresql
  - redis-server

cache:
  directories:
    - $HOME/.composer/cache

notifications:
  on_success: never
  on_failure: always

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - phpunit  --coverage-clover=coverage.xml --configuration phpunit.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)
