/* Page */
html { font-size: 1em; }

html, body {
  width: 100%;
  height: 100%;
}

body {
  max-width: 960px;
  display: block;
  margin: 0 auto;

  background-color: #222;
  color: #ccc;
}

body,
table,
div,
p,
dl,
p.reference,
p.definition {
  font-weight: 300;
  line-height: 1.45;

  font-weight: 400;
  font-family: 'Source Serif Pro', 'FreeSerif', 'DroidSerif', serif;
}

p {
  margin-bottom: 1.3em;
  font-size: 1.15em;
}

/* Code fragments */
pre.fragment {
  background-color: #444;
  border: 0;

  font-family: 'Monaco', 'Source Code Pro', 'Roboto Mono', monospace;
  font-size: 14px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

/* Header */
div.header {
  background-color: #222;
  border: 0;

  font: inherit;
  font-weight: bold;
  font-size: 1.25em;
}

/* Title area */
#titlearea {
  width: 100%;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

#titlearea tbody {
  display: block;
}

#projectlogo img {
  width: 128px;
}

#projectname,
#projectnumber,
#projectbrief {
  font-weight: 400 !important;
  font-family: 'Source Serif Pro', 'FreeSerif', 'DroidSerif', 'Georgia', serif !important;
}

/* Reduce title's size on mobile devices */
@media only screen and (max-width: 768px) {
  #projectname {
    font-size: 2em !important;
  }
}

/* Menu */
#main-menu li a { color: #4caf50 !important; }
#main-menu li .sub-arrow { background-color: inherit; }

/* Heading */
h1, h2, h3, h4 {
  margin: 1.2em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 { font-size: 1.953em; }

h3 { font-size: 1.563em; }

h4 { font-size: 1.25em; }

small, .font_small { font-size: 0.8em; }

/*
 * The next part was originally write by Rain C. Mitchell
 * Learn more here: https://github.com/rainmitch/darktheme
 */

.headertitle { background: #222; }
div.contents { color: #ccc; }

a { color: #03a9f4 !important; }

.navpath ul
{
  background: #222;
  border: 0;
}

.navpath li { background-image: none; }

.navpath li.navelem a
{
  text-shadow: none;
  font-size: 20px;
  color: #4caf50;
}

.memtitle
{
  border: 1px solid #03a9f4;
  border-bottom: 0;

  background-image: none;
  background-color: #03a9f4;
}

.memproto
{
  border: 1px solid #222;
  border-bottom: 0;

  background-image: none;
  background-color: #222;
  text-shadow: none;
  color: #03a9f4;
}

.paramname { color: #9c27b0; }

small { color: white; }

.memdoc
{
  border: 1px solid #222;
  background-image: none;
  background-color: #222;
  text-shadow: none;
  color: #ccc;
}

td.memItemRight,
td.memItemLeft,
td.mdescLeft,
td.mdescRight
{
  background: #333;
}

td.memSeparator
{
  background: #282828;
  border-bottom: 2px solid #4caf50;
}

h2.groupheader
{
  color: #4caf50;
  border: none;
}

div#top
{
  border-bottom: thick solid #4caf50;
}

hr
{
  border-top: none;
}

#MSearchResultsWindow
{
  background: #333;
}


.sm-dox ul a, .sm-dox ul a:hover, .sm-dox ul a:focus, .sm-dox ul a:active, .sm-dox ul a.highlighted
{
  background: #333;
  color: #ccc;
}

.sm-dox ul
{
  background: #333;
}

.directory tr.even
{
  background-color: #333;
}

a:hover
{
  background: #333;
}

.SRScope
{
  color: white;
}

div#SRResults
{
  color: #4caf50;
  background: blue;
}

#titlearea
{
  display: inline-block;
  border-bottom: none;
  background: #222;
}

.sm-dox a
{
  text-shadow: none;
  background-image: none;
  color: #4caf50;
}

.sm-dox
{
  padding: 0px;
}

.sm
{
  background: #222;
}
